<% if book.errors.any? %>
  <%= book.errors.count %>件のエラーが発生しました
  <% book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<!--新規投稿画面-->
<h2>New Book</h2>

<%= form_with model: book, local:true do |f| %>

  <h5>Title</h5>
  <%= f.text_field :title %>

  <h5>Opinion</h5>
  <%= f.text_area :body %>
  <br>
  <%= f.submit 'Create Book' %>

  <% end %>