<!--エラー共通-->
<%= render 'users/error', user: book %>  <!--books#createアクションで、入力値が保存された@bookをレンダー元のエラー文で判定にかける-->

<!--新規投稿画面-->
<h2>New book</h2>

<%= form_with model: book, local:true do |f| %>

  <h5>Title</h5>
  <%= f.text_field :title %>

  <h5>Opinion</h5>
  <%= f.text_area :body %>
  <br>
  <%= f.submit "Create Book", class: "btn btn-success" %>

  <% end %>