<div class = "container px-5 px-sm-0">
 <div class = "row">
  <div class = "col-md-3">
   <!--共通部分（users/_info）
   <%= render 'users/info', user: @user %>
   <!--共通部分(books/_new)-->
   <%= render 'books/new', book: @book %>
   </div>
  <!--全ユーザー投稿一覧画面-->
    <div class = "col-md-8 offset-md-1">
     <h1>Books</h1>
      <table class = "table table-hover table-inverse">
       <thead>
        <tr>
         <th></th>
         <th>Title</th>
         <th>Opinion</th>
         <th colspan="3"></th>
        </tr>
       </thead>
       <tbody>
        <!--@booksの中の全ての投稿情報を |book|にひとつずつ入れていく-->
        <% @books.each do |book| %>  
        <tr> 
         <td>
          <%= link_to user_path(book.user.id) do %>
           <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
          <% end %>             <!--book.user ： アソシエーションによって投稿データの情報から、対応するユーザー情報を引っ張り出すことができる。「books#indexアクションの@booksで取り出された投稿」に紐づくユーザー情報を呼び出す-->
         </td>
         <td>
          <%= link_to book_path(book.id) do %>
          <%= book.title %>
          <% end %>
         </td>
         <td><%= book.body %></td>
        </tr>
        <% end %>
       </tbody>
      </table>
    </div>
   </div>
  </div>
 </div>



