
<div class = "title">
  <% if flash[:notice] %>
  <p style="color: #00ff00;"><%= flash[:notice] %></p>
  <% end %>
</div>

<main>
 <div class = "container">
  <div class = "row">
   <div class = "col-md-3">
    <!--共通部分（User info）
    <%= render 'users/info', user: @user %>
    <!--共通部分(New Books)-->
    <%= render 'books/new', book: @book_new %>

   </div>
   <!--ユーザー投稿一覧-->
   <div class = "col-md-8 offset-md-1">
    <h2>Book detail</h2>
     <table class = "table">
      <tbody>
       <tr>
        <td>
         <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
         <%= link_to user_path(@user) do %>
          <%= @user.name %>
         <% end %>
        </td>
        <td>
         <%= link_to book_path(@book.id) do %>
         <%= @book.title %>
         <% end %>
        </td>
        <td><%= @book.body %></td>
        <td>
         <!--@book.user.id : ユーザー情報に基づいた詳細画面(books#show)を開いている人 = current_user.id : ログインしている人-->
         <% if @book.user.id == current_user.id %>
         <div class = "row">
          <%= link_to "Edit", edit_book_path(@book), class: "btn btn-success btn-sm btn-block active " %>
         </div>
         <% end %>
        </td>
        <td>
         <% if @book.user.id == current_user.id %>
          <button type="submit" class="btn btn-danger" id="deletebtn" name="Destroy" >Destroy</button>
         <% end %>
        </td>
       </tr>
      </tbody>
     </table>
   </div>
 </div>
</main>
