
<div class = "title">
  <% if flash[:notice] %>
  <p style="color: #00ff00;"><%= flash[:notice] %></p>
  <% end %>
</div>

<main>
 <div class = "container">
  <div class = "row">
   <div class = "col-md-3">
    <!--共通部分（User info）
    <%= render 'users/info', user: @user %>
    <!--共通部分(New Books)-->
    <%= render 'books/new', book: @book_new %>

   </div>
   <!--ユーザー投稿一覧-->
   <div class = "col-md-8 offset-md-1">
    <h2>Book detail</h2>
     <table class = "table">
      <tbody>
       <tr>
        <td>
         <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
         <%= link_to user_path(@user) do %>
          <%= @user.name %>
         <% end %>
        </td>
        <td>
         <%= link_to book_path(@book.id) do %>
         <%= @book.title %>
         <% end %>
        </td>
        <td><%= @book.body %></td>
        <td>
         <% if @book.user.id == current_user.id %>
   　    　<%= button_to "Edit", {controller: 'books', action: 'edit'}, {method: :get} %>
         <% end %>
        </td>
        <td>
         <% if @book.user.id == current_user.id %>
          <%= button_to "Destroy", {controller: 'books', action: 'destroy'}, {method: :delete, data: { confirm: "【確認】アカウントを削除してもよろしいですか？" }} %>
         <% end %>
        </td>
       </tr>
      </tbody>
     </table>
   </div>
 </div>
</main>
